@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    --background-color: #212f42;
    color: #e3d888;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    display: absolute;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: var(--background-color);
}

h1 {
    text-align: left;
    margin-left: 25px;
}

h2 {
    color: black;
    float: left;
    margin-left: 25px;
}

.p1 {
    margin-left: 25px;
}

li {
    list-style-type: none;
    border-radius: 30%;
}

footer {
    position: absolute;
    bottom: 0;
    background: #0d1821;
    height: auto;
    width: 100vw;
    padding-top: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.button {
    background-color: var(--background-color);
    border: none;
    color: white;
    float: right;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
}

.button:hover {
    background-color: #8aa1b1;
    color: white;
}

.dropdown-container {
    position: relative;
    float: right;
}

.dropdown {
    background-color: red;
    list-style: none;
    position: absolute;
    top: 25px;
    display: none;
    text-align-last: center;
    padding-right: 100px;
    direction: rtl;
}

.dropdown-item {
    font-size: 14px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #cd201f;
    color: #ffffff;
}
